#gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 1000px;
	grid-gap: 1rem;
}
figure:hover figcaption {
  background-color: lightgray;
  opacity: 0.75;
  font-weight: bold;
}
figure {
	margin:0;
	position: relative;
	
}
img {
width: 100%;	
height: 100%;
object-fit: cover;
border-radius: 10px;
}
figcaption {
	opacity: 0;
	position: absolute;
	bottom: 0;
	width: 100%
}