body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #bbe09f;
}

div#titlepage {
    padding: 1em;
    background-color: #d4f8b9;
}

div#titlepage p {
    text-align: center;
    font-variant: small-caps;
}

p {
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    color: #c30;
}

h2 {
    color: #663300;
}

a:link {
    color: #030;
}

a:visited {
    color: #363;
}

a:hover {
    color: #030;
    background-color: #87b862;
    text-decoration: none;
}

a:active {
    color: #c30;
}